@charset "UTF-8";

#interactive.viewport {
    position: relative;
}

#interactive.viewport>canvas,
#interactive.viewport>video {
    max-width: 100%;
    width: 100%;
}

#result_strip ul.thumbnails {
    list-style-type: none;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    white-space: nowrap;
    width: auto;
}

#result_strip ul.thumbnails:after {
    clear: both;
    content: "";
    display: table;
}

#result_strip ul.thumbnails>li .thumbnail .caption h4 {
    height: 40px;
    margin: 0px;
    text-align: center;
    word-wrap: break-word;
}

#result_strip ul.thumbnails>li .thumbnail .caption {
    white-space: normal;
}

#result_strip ul.thumbnails>li .thumbnail img {
    max-width: 140px;
}

#result_strip ul.thumbnails>li .thumbnail {
    border: 1px dashed #CCC;
    margin: 4px;
    padding: 5px;
}

#result_strip ul.thumbnails>li {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
}

#result_strip {
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    margin: 10px 0;
    padding: 10px 0;
}

.collapsable-source pre {
    font-size: small;
}

.controls .input-group input,
.controls .input-group button {
    display: block;
}

.controls .input-group {
    float: left;
}

.controls .reader-config-group label span {
    display: inline-block;
    text-align: right;
    width: 9rem;
}

.controls .reader-config-group label {
    display: block;
}

.controls .reader-config-group {
    float: right;
}

.controls fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.controls:after {
    clear: both;
    content: '';
    display: block;
}

.icon-barcode {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTAgNGg0djIwaC00ek02IDRoMnYyMGgtMnpNMTAgNGgydjIwaC0yek0xNiA0aDJ2MjBoLTJ6TTI0IDRoMnYyMGgtMnpNMzAgNGgydjIwaC0yek0yMCA0aDF2MjBoLTF6TTE0IDRoMXYyMGgtMXpNMjcgNGgxdjIwaC0xek0wIDI2aDJ2MmgtMnpNNiAyNmgydjJoLTJ6TTEwIDI2aDJ2MmgtMnpNMjAgMjZoMnYyaC0yek0zMCAyNmgydjJoLTJ6TTI0IDI2aDR2MmgtNHpNMTQgMjZoNHYyaC00eiI+PC9wYXRoPjwvc3ZnPg==);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.input-field button {
    flex: 0 0 auto;
    font-size: 20px;
    height: 28px;
    width: 40px;
}

.input-field input {
    flex: 1 1 auto;
    height: 20px;
}

.input-field label {
    flex: 0 0 auto;
    padding-right: 0.5rem;
}

.input-field {
    align-items: center;
    display: flex;
    width: 260px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

.overlay__close {
    background-color: white;
    border-radius: 2rem;
    border: 3px solid black;
    box-sizing: content-box;
    cursor: pointer;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    margin: -1rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    width: 2rem;
    z-index: 100;
}

.overlay__content canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay__content video {
    height: 100%;
    width: 100%;
}

.overlay__content {
    left: 50%;
    max-height: 90%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

@media (max-width: 603px) {
    #container {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 10px auto;
    }
}

@media (max-width: 603px) {
    .reader-config-group {
        width: 100%;
    }

    .reader-config-group label>select,
    .reader-config-group label>input {
        max-width: calc(50% - 2px);
    }

    .reader-config-group label>span {
        width: 50%;
    }

    #interactive.viewport {
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    #result_strip {
        margin-top: 5px;
        padding-top: 5px;
    }

    #result_strip ul.thumbnails {
        height: auto;
        width: 100%;
    }

    #result_strip ul.thumbnails>li .thumbnail .imgWrapper {
        height: 130px;
        overflow: hidden;
        width: 130px;
    }

    #result_strip ul.thumbnails>li .thumbnail .imgWrapper img {
        height: 180px;
        margin-top: -25px;
        width: 130px;
    }

    #result_strip ul.thumbnails>li {
        width: 150px;
    }
}

canvas.drawing,
canvas.drawingBuffer {
    left: 0;
    position: absolute;
    top: 0;
}